body{
    background-image: url(mar.jpg\ -\ Atalho.lnk);
    background-size: cover;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    
}
.caixa{
    position: absolute;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 40px;
    background: rgba(0, 0,0,.8);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 15px;  
}
.caixa h2{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.caixa .entrada{
    position: relative;
}
.caixa .entrada input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    background: transparent;
}
.caixa .entrada label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .9s;
}
.caixa .entrada input:focus ~ label,
.caixa .entrada input:valid ~ label{
    top: -20px;
    left: 0;
    color: #99cc33;
    font-size: 12px;
}
.caixa input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background: #99cc33;
    
}